
@model Pizza


<div class="container bg-warning-subtle shadow-lg rounded border-black mt-5 p-0" style="width: 50%; font-family: 'Dancing Script' , cursive;">
    <img src="@Model.Immagine" class="card-img-top" alt="Immagine @Model.Nome">
    <div class="p-3">
        <h1><strong>@Model.Nome</strong></h1>
        <p>@Model.Descrizione</p>
        <h2><strong>@Model.Prezzo €</strong></h2>
    </div>
</div>